#toolbar{
    position:fixed;
    width: 100%;
}
.relative{
    padding-top: 65px;
}

.subtitulo{
    text-align: left;
    font-size: 1em;
    margin-bottom: 10px;
    color: #AD2C2C;
}

.marginTop{
    margin-top: 1rem;
}

.maxWidth {
    max-width: 320px;
}

.subindice{
    font-size:10px;
    margin-left: 3em;
}
.menu{
    width: 100%;
    position: fixed;
    background: #DB5252;
    opacity: 0.9;
    -webkit-box-shadow:inset 0 0 9px 0 #595959;
    box-shadow:inset 0 0 9px 0 #595959;
    z-index: 200;
}

.marginLeft{
    margin-left: 1em;
}

.titulo{
    text-align: center;
    font-size: 3em;
    margin-bottom: 10px;
    font-weight: bold;
    color: #AD2C2C;
    text-shadow: 3px 3px 5px #aaaaaa
}

.cuadroSombra {
    box-shadow: 7px 7px 20px 0 #4a4949;
    border-radius: 12px 12px 12px 0;
    z-index: 100;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    width: 400px; 
    text-align: center;
    margin-left: 35%;
}

.over:hover{
    background: rgba(204, 73, 73, 0.67);
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.fade {
    opacity: 0;
    transition: opacity .15s linear;
}

.alert-dismissible .close {
    position: relative;
    top: -.75rem;
    right: -1.25rem;
    padding: .75rem 1.25rem;
    color: inherit;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

button.close {
    padding: 0;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0
}

.slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }