.navbar{
    font-weight: bold;
    font-size: large;

}
.btn-default{
    color:whitesmoke;
    background-color: blueviolet;

}
.btn-default:hover{
    color: blueviolet;
    background-color: white;
    border: 2px solid blueviolet;
}
.panel-default{
    border: 2px solid blueviolet;
}
.panel-body{
    background-color: rgba(137,5,255,0.59);
}
.form-control{
    background-color: rgba(137,5,255,0.59);
    color: whitesmoke;
}

.form-control::-webkit-input-placeholder{
    color:whitesmoke;
}
.form-control:-ms-input-placeholder{
    color:whitesmoke;
}
.form-control::-webkit-input-placeholder{
    color:whitesmoke;
}
