header{
        padding-top: 10px;
      }
body{
       background: rgb(132, 235, 130);
     }
label{
      margin: 5px;
    }
.center{
      padding-top: 100px;
    }
.card{
        background: rgb(147, 203, 121);
        margin: 10px;
      }
.Styletextarea{
          max-height:100px;
          min-height:100px;
        }
