body {
  padding-top: 20px;
  margin: 0;
  padding: 0;
  background: rgba(84,180,245,1);
  background: -moz-linear-gradient(top, rgba(84,180,245,1) 0%, rgba(199,227,252,1) 49%, rgba(255,255,255,1) 87%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(84,180,245,1)), color-stop(49%, rgba(199,227,252,1)), color-stop(87%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(84,180,245,1) 0%, rgba(199,227,252,1) 49%, rgba(255,255,255,1) 87%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(84,180,245,1) 0%, rgba(199,227,252,1) 49%, rgba(255,255,255,1) 87%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(84,180,245,1) 0%, rgba(199,227,252,1) 49%, rgba(255,255,255,1) 87%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(84,180,245,1) 0%, rgba(199,227,252,1) 49%, rgba(255,255,255,1) 87%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54b4f5', endColorstr='#ffffff', GradientType=0 );
  
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.template{
  padding: 40px 15px;
  text-align: center;
}

h1, h2{
	color: white;
}

h2{
  padding-bottom: 20px;
}

.form-control{
  text-align: center;
}

.aside{
  background-color: white;
}

.contenedor ul {
}

.card{
  margin-top: 20px;
}

a{
  text-decoration: none;
  font-size: 14px;
  color: black;
}

.negativo{
  color: red;
}

h6{
  font-size: 16px;
  text-decoration: blink;
}

img {
  width: 30%;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}

hr{
  border-color: black;
}

.alerta p{
  font-size: 15px;
}

.modificar label{
  padding-top: 5px;
}

.agregar{
  padding-bottom: 30px;
}
.agregar label{
  font-size: 18px;
  padding-top: 8px;
}

.agregar input{
  padding-top: 5px;
}
.btnAccion{
  font-size: 18px;
  width: 100px;
}
