body::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(1, 1, 1, .9);
}

body::-webkit-scrollbar-thumb {
  background-color: #D4D2D2;
  border-radius: 5px;
}

.panel::-webkit-scrollbar {
  width: 7px;
}

.panel::-webkit-scrollbar-thumb {
  background-color: #D4D2D2;
  border-radius: 5px;
}

