<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>TP - 03</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/misEstilos.css" rel="stylesheet">
</head>
<body>
  <div class="container">
      <div id="app">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="nav-link navbar-brand" href="#" @click="cambiarVista('ingresar')">Ingresar</a>
              <a class="nav-link navbar-brand" href="#" @click="cambiarVista('buscar')">Buscar</a>
              <a class="nav-link navbar-brand" href="#" @click="cambiarVista('')"></a>
          </nav>
          <div class="row justify-content-md-center">
              <div class="col-md-10">
                <div v-show="vista == 'ingresar'">
                    <div id="alerta" class="alert alert-success">
                        <span aria-hidden="true" id="alertSpan" onclick="this.parentElement.style.display='none';">&times;</span>
                      <strong>Holy guacamole!</strong> Persona agregada correctamente.
                    </div>
                  <form>
                    <div class="form-row">
                      <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label>Nombre</label>
                        <input v-model="persona.nombre" type="text" placeholder="Ingrese nombre" class="form-control">
                      </div>
                      <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label>Apellido</label>
                        <input v-model="persona.apellido" type="text" placeholder="Ingrese apellido" class="form-control">
                      </div>
                      <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label>Edad</label>
                        <input type="number" placeholder="Ingrese edad" v-model="persona.edad" class="form-control">
                      </div>
                      <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label>Mail</label>
                        <input type="email" placeholder="Ingrese e-mail" v-model="persona.mail" class="form-control">
                      </div>
                    </div>
                      <input value="v" id="radio1" name="radio" type="radio" v-model="persona.sexo"
                      checked>
                      <span class="custom-control-description">Varon</span>
                      <input value="m" id="radio2" name="radio" type="radio" v-model="persona.sexo">
                      <span class="custom-control-description">Mujer</span>
                      <button :disabled="!formOk" class="btn btn-light" type="submit" @click.prevent="agregarPersona">Ingresar</button>
                  </form>
                </div>
              </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-md-10 col-sm-10 col-xs-10">
              <div v-show="vista == 'buscar'">
                  <div class="row justify-content-md-center" v-show="personas.length">
                    <span id="spanNearFilter"><strong> Buscar contacto: </strong></span>
                    <input type="text" placeholder="Ej: Pablo 'Homero' Fino" v-model="filtro">
                  </div>
                  <div class="row justify-content-md-center">
                    <div class="jumbotron" v-if="!personas.length">
                      <h1 class="display-3">Hello there!</h1>
                      <p class="lead">Haven't added any contact yet? Go on and attach your friends!</p>
                      <hr class="my-4">
                    </div>                  
                    <div v-else v-for="(persona, index) in personasFiltradas" class="card card-inverse" id="people">
                          <div class="card-body">
                              <h4 class="card-title">{{ persona.apellido }}, {{ persona.nombre }}</h4>
                              <h6 class="card-subtitle mb-2 text-muted">{{ persona.edad }} años</h6>
                              <p class="card-text">Email: <strong>{{ persona.mail }}.</strong></p>
                              <button data-toggle="tooltip" data-placement="top" data-html="true" title="   Borrar persona" type="button" class="btn btn-outline-success" @click.prevent="borrarPersona(index)">Borrar
                              </button>
                          </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
  </div>
  <script src="js/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        persona: {
          nombre: '',
          apellido: '',
          edad: '',
          sexo: '',
          mail: ''
        },
        personas: [],
        filtro: '',
        vista: 'ingresar',
        mensaje: false
      },
      computed: {
        personasFiltradas() {
          return this.personas.filter(p => (p.apellido.toLowerCase().indexOf(this.filtro.toLowerCase()) >= 0 ||
                                            p.edad.indexOf(this.filtro) >= 0 ||
                                            p.nombre.toLowerCase().indexOf(this.filtro.toLowerCase()) >= 0)
          );
        },
        formOk() {
          return this.persona.nombre && this.persona.edad
                 && this.persona.sexo && this.persona.apellido
                 && this.persona.mail;
        }
      },
      methods: {
        agregarPersona() {
          this.personas.push(Object.assign({}, this.persona));  // a un objeto vacio, le paso todo lo q hay en persona
          this.limpiarPersona();
          //this.mensaje = true;
          this.activarAlerta();
          this.saveContactsToStorage();
        },
        limpiarPersona() {
          this.persona.nombre = '';
          this.persona.apellido = '';
          this.persona.edad = '';
          this.persona.sexo = '';
          this.persona.mail = '';
        },
        cambiarVista(vista) {
          this.vista = vista;
        },
        borrarPersona(index) {
          this.personas.splice(index,1);
          this.removeFromStorage();
        },
        activarAlerta() {
          const alert = document.getElementById("alerta");
          alert.style.display = "block";
        },
        saveContactsToStorage(){
          localStorage.setItem('personas',JSON.stringify(this.personas));
        },
        getContactsFromStorage(){
          const contactos = localStorage.getItem('personas');
          if (contactos) {
            this.personas = JSON.parse(contactos);
          }
        },
        removeFromStorage(){
          localStorage.removeItem('personas');
          this.saveContactsToStorage();
        }

      },
      mounted(){
        this.getContactsFromStorage();
      }
    })
  </script>
</body>
</html>
