<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/app.css">
    <title>TP3 SCHAERER</title>
</head>
<body>
	<div id="app">
	<!-- NAVBAR  -->
		<nav>                     
		    <div class="nav-wrapper teal darken-1">
		      <a href="#" class="brand-logo right" id="navbarlogo">AGENDA SCHAERER 4000</a>
		      <ul id="nav-mobile" class="left hide-on-med-and-down">
		        <li><a href="#" class="navbarContent" @click="cambiarVista('vistaAgregarContacto')">Agregar contactos</a></li>
		        <li><a href="#" class="navbarContent" @click="cambiarVista('vistaListaContactos')">Ver contactos</a></li>
		        <li><a href="#" class="navbarContent" @click="cambiarVista('vistaListaFavoritos')">Ver favoritos</a></li>
		      </ul>
		    </div>
		</nav>
		<!-- Agregar Contacto -->
		<div v-show="vista == 'vistaAgregarContacto'">
			<div class="row">
				<div class="col s10 m10 l10">
					<h3 id="tituloVistaAgregar">Ingresa datos para agendar nuevo contacto :)</h3>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m8 l8 offset-m2 offset-l2">
				<!-- FORMULARIO AGREGAR CONTACTO  -->
					<form>
						<div class="row">
							<div class="col s12 m6 l6">
								<input type="text" v-model="contacto.nombre" placeholder="Ingrese nombre">
							</div>
							<div class="col s12 m6 l6">
								<input type="text" v-model="contacto.apellido" placeholder="Ingrese apellido">
							</div>
						</div>
						<div class="row">
							<div class="col s12 m6 l6">
								<input type="number" v-model="contacto.edad" placeholder="Ingrese edad">
							</div>
							<div class="col s12 m6 l6">
								<input type="text" v-model="contacto.direccion" placeholder="Ingrese dirección">
							</div>
						</div>
						<div class="row">
							<div class="col s12 m6 l6">
								<h5>Seleccione el sexo:</h5>
							</div>
							<div class="col s12 m3 l3">
								<input class="with-gap" name="sexo" value="Varon" type="radio" id="varon" 
										v-model="contacto.sexo"/>
								<label for="varon">Varon</label>

							</div>
							<div class="col s12 m3 l3">
								<input class="with-gap" name="sexo" value="Mujer" type="radio" id="mujer" 
										v-model="contacto.sexo"/>
								<label for="mujer">Mujer</label>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m9 l9 offset-m3 offset-l3">
							<button class="waves-effect waves-light btn-large botonConLetrasRojitas" :disabled="!formOk" type="submit" @click.prevent="agregarContacto">
																							PULSEME CUANDO TERMINE DE INGRESAR LOS DATOS</button>
							</div>
						</div>
					</form>
					<!-- Alert contacto agregado -->
					<div v-if="mensajeContactoAgregado">
						<div class="alert">
							<span class="closebtn" @click="cerrarMensajes()">&times;</span> 
									Contacto agregado con exito!
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Ver Contactos -->
		<div v-show="vista == 'vistaListaContactos'">
			<div class="row">
				<div class="col s12 m8 l8 offset-m2 offset-l2">
					<h3>Lista de contactos</h3>
					<h5>Acá puede ver, editar y borrar sus contactos.</h5>
					<input type="text" v-model="filtro" placeholder="Acá podés buscar ingresando cualquier tipo de información relacionada a un contacto :)">

					<!-- Alert Contacto Eliminado .....no sabia donde ponerlo -->
					<div v-if="mensajeContactoEliminado">
						<div class="alert">
							<span class="closebtn" @click="cerrarMensajes()">&times;</span> 
									Contacto eliminado con exito!
						</div>
					</div>
					<!-- Alert Contacto Editado .....no sabia donde ponerlo -->
					<div v-if="mensajeContactoEditado">
						<div class="alert">
							<span class="closebtn" @click="cerrarMensajes()">&times;</span> 
									Contacto editado con exito!
						</div>
					</div>

					<h3 v-if="!contactos.length">Todavía no tenés contactos, ¿¿¿que esperás para empezar a agendar gente???</h3>
					<h3 v-else-if="busquedaIncorrecta">¡No tenés a nadie con esa característica!</h3>
					<div v-else v-for="(contact, index) in contactosFiltrados">
						<div class="col s6 m6 l6">
							<div class="card myCard">
								<a class="asd waves-effect waves-light"> 
									<label class="favoriteStar" v-bind:class="{'favoriteStarSelected': contact.favorito}" @change="estadoFavorito(contact)">
										<input class="favoriteCheck" type="checkbox" v-bind:value="contact.favorito" v-model="contact.favorito">  ★
									</label>
								</a>
								<h3 class="card-title">{{contact.nombre}} {{contact.apellido}}</h3>
								<p class="card-text">Edad: {{contact.edad}}</p>
								<p class="card-text">Sexo: {{contact.sexo }}</p>
								<p class="card-text">Dirección: {{contact.direccion}}</p>
								<div class="card-action">
									<a class="waves-effect waves-light btn-large" @click="abrirFormularioEditarContacto(contact)">
										<i class="material-icons right">edit</i>EDITAR
									</a>
									<a class="waves-effect waves-light btn-large" @click="borrarContacto(contact)">
										<i class="material-icons right">delete_forever</i>BORRAR
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Ver Favoritos -->
		<div v-show="vista == 'vistaListaFavoritos'">
			<div class="row">
				<div class="col s12 m8 l8 offset-m2 offset-l2">
					<h3>Lista de contactos favoritos</h3>
					<h5>Acá puede ver, editar y borrar sus contactos favoritos.</h5>
					<input type="text" v-model="filtro" placeholder="Acá podés buscar ingresando cualquier tipo de información relacionada a un contacto :)">

					<!-- Alert Contacto Eliminado .....no sabia donde ponerlo -->
					<div v-if="mensajeContactoEliminado">
						<div class="alert">
							<span class="closebtn" @click="cerrarMensajes()">&times;</span> 
									Contacto eliminado con exito!
						</div>
					</div>
					<!-- Alert Contacto Editado .....no sabia donde ponerlo -->
					<div v-if="mensajeContactoEditado">
						<div class="alert">
							<span class="closebtn" @click="cerrarMensajes()">&times;</span> 
									Contacto editado con exito!
						</div>
					</div>

					<h3 v-if="!contactosFavoritos.length">Todavía no tenés contactos favoritos, ¿¿¿que esperás para agregarlos???</h3>
					<h3 v-else-if="busquedaIncorrecta">¡No tenés a nadie con esa característica!</h3>
					<div v-else v-for="(contact, index) in contactosFavoritos">
						<div class="col s6 m6 l6">
							<div class="card myCard">
								<a class="asd waves-effect waves-light"> 
									<label class="favoriteStar" v-bind:class="{'favoriteStarSelected': contact.favorito}" @change="estadoFavorito(contact)">
										<input class="favoriteCheck" type="checkbox" v-bind:value="contact.favorito" v-model="contact.favorito">  ★
									</label>
								</a>
								<h3 class="card-title">{{contact.nombre}} {{contact.apellido}}</h3>
								<p class="card-text">Edad: {{contact.edad}}</p>
								<p class="card-text">Sexo: {{contact.sexo }}</p>
								<p class="card-text">Dirección: {{contact.direccion}}</p>
								<div class="card-action">
									<a class="waves-effect waves-light btn-large" @click="abrirFormularioEditarContacto(contact)">
										<i class="material-icons right">edit</i>EDITAR
									</a>
									<a class="waves-effect waves-light btn-large" @click="borrarContacto(contact)">
										<i class="material-icons right">delete_forever</i>BORRAR
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Editar Contacto -->
		<div v-show="vista == 'vistaEditarContacto'">
			<div class="row">
				<div class="col s12 m8 l8 offset-m2 offset-l2">
					<h5 id="tituloVistaEditar">Modifique los datos del contacto :)</h5>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m10 l8 offset-m2 offset-l2">
				<!-- FORMULARIO EDITAR CONTACTO  -->
					<form>
						<div class="row">
							<div class="col s12 m6 l6">
								<input type="text" v-model="contacto.nombre" placeholder="Ingrese nombre">
							</div>
							<div class="col s12 m6 l6">
								<input type="text" v-model="contacto.apellido" placeholder="Ingrese apellido">
							</div>
						</div>
						<div class="row">
							<div class="col s12 m6 l6">
								<input type="number" v-model="contacto.edad" placeholder="Ingrese edad">
							</div>
							<div class="col s12 m6 l6">
								<input type="text" v-model="contacto.direccion" placeholder="Ingrese dirección">
							</div>
						</div>
						<div class="row">
							<div class="col s12 m6 l6">
								<h5>Seleccione el sexo:</h5>
							</div>
							<div class="col s12 m3 l3">
								<input class="with-gap" name="sexo" value="Varon" type="radio" id="varon" 
										v-model="contacto.sexo"/>
								<label for="varon">Varon</label>

							</div>
							<div class="col s12 m3 l3">
								<input class="with-gap" name="sexo" value="Mujer" type="radio" id="mujer" 
										v-model="contacto.sexo"/>
								<label for="mujer">Mujer</label>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m9 l9 offset-m3 offset-l3">
							<button class="waves-effect waves-light btn-large botonConLetrasRojitas" :disabled="!formOk" type="submit" @click.prevent="editarContacto">
									EDICION TERMINADA</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script src="js/vue.js"></script>
	<script src="js/app.js"></script>
</body>
</html>