.yodaSide {
		background: -webkit-linear-gradient
		(left, rgb(135,220,90) 0%,rgb(254,254,254) 30%,
			rgb(254,254,254) 50%,rgb(254,254,254) 70%,rgb(135,220,90) 100%);
		opacity: 0.5;
	}
	.vaderSide {
		background: -webkit-linear-gradient(left, rgba(229,17,21,1) 0%,
			rgba(254,254,254,1) 30%,rgba(254,254,254,1) 47%,
			rgba(254,254,254,1) 71%,rgba(229,17,21,1) 100%);
		opacity: 0.5;
	}
	.winduSide {
		background: -webkit-linear-gradient(left, rgba(202,116,221,1) 0%,
			rgba(254,254,254,1) 30%,rgba(254,254,254,1) 47%,
			rgba(254,254,254,1) 71%,rgba(202,116,221,1) 100%);
	}
	.obiSide {
		background: -webkit-linear-gradient(left, rgba(55,132,214,1) 0%,
			rgba(254,254,254,1) 30%,rgba(254,254,254,1) 47%,rgba(254,254,254,1) 71%,
			rgba(55,132,214,1) 100%);
		opacity: 0.5;
	}