	.page-item {
		color: yellow;
	}
	.page-link {
		cursor: pointer !important;
	}
	.page-link:hover {
		background-color: black;
	}
	.cards {
		padding-left: 20px;
		padding-right: 20px;
	}
	.box {
	  border-radius: 5px;
	  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	  border-radius: 5px;
	  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	  margin-bottom: 20px;
	  margin-top: 25px;
	}

	.box::after {
	  content: "";
	  border-radius: 5px;
	  position: absolute;
	  z-index: -1;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	  opacity: 0;
	  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	}

	.box:hover {
	  -webkit-transform: scale(1.25, 1.25);
	  transform: scale(1.25, 1.25);
	}

	.box:hover::after {
	    opacity: 1;
	}

	.moreInfo:hover {
		cursor: pointer;
		color: white;
	}