#app{
  margin: 5ex auto 5ex auto;
  padding-bottom: 10px;
}

#buscar, #agenda, #contenedor{
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}


.navbar-brand {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

#form, #form2{
  width: 50%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  background-color: gainsboro;
}

.navbar-item-a, .card-content>a{
  color: #151515;
  display: block;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  position: relative;

  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a.navbar-item-a:hover, a.navbar-item-a.is-active, .card-content>a:hover{
  background-color: whitesmoke;
  color: #FF0000;
}

div.control>input:focus, select:focus{
  border-color:#FF0000 !important;
}

.select:not(.is-multiple)::after {
  border: 1px solid #ff0000 !important;
  border-top: 0 !important;
  border-right: 0 !important;
}

form, .card{
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  width: 100%;
}

.card{
  height:100%;
}

.button{
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.button:focus{
  border-color: #FF0000;
}

.botones{
  display: flex;
  justify-content: space-between;
}

.botones>.button{
  font-size: 12px;
}

.grid-wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(4);
  grid-gap: 1rem;
  grid-auto-flow: dense;
  background-color: gainsboro;
}

.grid-item{
  display:flex;
}
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: rgba(251, 135, 158, 0.62);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.delete {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.delete:hover,
.delete:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
