.dark-primary-color    { background: #512DA8; }
.default-primary-color { background: #673AB7; }
.light-primary-color   { background: #D1C4E9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #607D8B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
.card-is-raised        { box-shadow: 10px 10px 5px #888888; }
