#people {
	width: 20rem;
	margin: 10px;
	background-color: #e8ebed;
	border-color: #333; 
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

#people:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

nav {
	margin-bottom: 10px;
}

.alerta {
	display: none;
	margin-top: 5px;
}

.marginTop {
	margin-top: 7px;
}

.floatRight {
	float: right;
}

input::-webkit-input-placeholder {
    font-style:italic;
}

.spanNearFilter {
	margin-right: 5px;
}

button {
	cursor: pointer;
	margin-right: 5px;
}

