#navbar{
	margin-bottom: 40px;
}

#sexo{
	margin-top: 20px;
}
.botonIngreso {
  margin-left: 170px;
  border: 5px solid transparent;
  background: #0569FF;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  padding: 15px 30px;
  overflow: hidden;
  width: 200px;
  -webkit-transition: all 1.2s, border 0.5s 1.2s, box-shadow 0.3s 1.5s;
  transition: all 1.2s, border 0.5s 1.2s, box-shadow 0.3s 1.5s;
  white-space: nowrap;
  text-indent: 23px;
}
.botonIngreso .span {
  display: inline-block;
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
  font-weight: normal;
  opacity: 0;
  -webkit-transition: opacity 0.1s 0.5s, -webkit-transform 0.4s 0.5s;
  transition: opacity 0.1s 0.5s, -webkit-transform 0.4s 0.5s;
  transition: opacity 0.1s 0.5s, transform 0.4s 0.5s;
  transition: opacity 0.1s 0.5s, transform 0.4s 0.5s, -webkit-transform 0.4s 0.5s;
  font-weight: bold;
}
.botonIngreso:hover {
  text-indent: 0;
  background: black;
  color: white;
  width: 320px;
  border: 10px solid #0569FF;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
}
.botonIngreso:hover .span {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.cardContent{
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	border: 1px black;
}
.cardActionContent{
	padding-left: 70%;
}
.deleteBtn {
	margin-left: 15px;
}

.wrapper .tooltip {
  background: #0086b3;
  bottom: 100%;
  color: white;
  display: block;
  left: -94px;
  margin-bottom: 15px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 250px;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

.wrapper .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}  

.wrapper .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #1496bb 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
  
.wrapper:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

.alert {
	display: none;
	margin-left: 30px;
	margin-top: 25px;
	margin-bottom: 50px;
    padding: 20px;
    background-color: #80ff80;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}

.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: white;
}

.tituloIngreso{
	padding-left: 45px;
}