body {
  background: #004749;
  color: white;
  font-family: 'Lato', Arial, sans-serif;
}

.negrita {
  font-weight: bold;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: lightgrey;
}

.costado {
    display: inline;
}

nav {
  margin-bottom: 10px;
}

nav .brand-logo {
  color: black;
}

h2{
  color: #00ffa1;
}

html {
  overflow-y: scroll;
}

.todo_bien_box {
    padding: 20px;
    background-color: #00ff1d; /* Red */
    color: black;
    margin-bottom: 15px;

     animation:signup-response 0.5s 1;
    -webkit-animation:signup-response 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:2s;
    -webkit-animation-delay:3s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
}

@keyframes signup-response{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes signup-response{
    from {opacity :1;}
    to {opacity :0;}
}

th, td {
    padding: 10px;
}