/* Custom Styles
-------------------------------------------------- */
.bg-categories {
    background: linear-gradient(
            rgba(255, 110, 127, 0.6),
            rgba(191, 233, 255, 0.6)),
    linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
    ),
    url('./../img/bg-categories.jpg') no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.drop-shadow {
    box-shadow: 0 2px 3px #888888;
}
