/* Custom Styles
-------------------------------------------------- */
.bg-landing {
    /*background-color: #F62459;*/
    background-image: linear-gradient(rgba(25, 181, 254, 0.6), rgba(69, 70, 71, 0.6)), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./../img/bg-home.jpg');
}

.promo-img {
    border-radius: 10px;
    border: 10px solid #fff;
}
