#inputSearch {
  position: absolute;
  right: 150px;
  width: 25%;
}

#btnGuardar {
  text-align: right;
  margin-top: 35px;
}

.container {
  margin-top: 50px;
}

img {
  height:128px;
}

.card {
  height: 130px;
  background-color: #FF7070;
}

.card-image {
  background-color: white;
  border: 3px solid red;
  border-right: 0px;
}

.btn-card {
  padding: 30px 10px 0px 10px;
}

.nav-wrapper {
  background-color: #F80000;
}

#card-alert {
  height: 75px;
  float: right;
}

#btn-alert {
  position: absolute;
  right: 10px;
  top: 8px;
}