.section{
    padding-top: 80px;
}

.notification-alert {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 190px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0
}

body, button, input, select, textarea {
    font-family: 'Quicksand', sans-serif;
}
