<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title>TP3</title>
    <link type="text/css" rel="stylesheet" href="./css/materialize.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="./css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="./css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="./css/component.css"/>
    <link rel="stylesheet" type="text/css" href="./css/estilo.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div id="nose">
    <nav>
        <div class="nav-wrapper negrita">
            <a href="#!" class="brand-logo right">TP3</a>
            <ul class="left hide-on-med-and-down">
                <li><a class="nav-link" href="#" @click="cambiarVista('ingresar')">Ingresar persona</a></li>
                <li><a class="nav-link" href="#" @click="cambiarVista('buscar')">Buscar</a></li>
                <li><a class="nav-link" href="#" @click="cambiarVista('favoritos')">Favoritos</a></li>
                <li><a class="nav-link" href="#" @click="cambiarVista('denuncias')">Denuncias</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="negrita" v-show="vista == 'ingresar'">
            <form class="ac-custom ac-radio ac-circle" autocomplete="off">
                <h2>Ingrese sus datos</h2>
                <input v-model="persona.nombre" type="text" placeholder="Ingrese nombre">
                <input v-model="persona.apellido" type="text" placeholder="Ingrese apellido">
                <input onchange="edad_humana(this);" type="number" placeholder="Ingrese edad" v-model="persona.edad">
                <input type="text" placeholder="Ingrese domicilio" v-model="persona.direccion">
                <div class="row">
                    <div class="col l5">
                        <ul>
                            <li class="costado"><input value="v" id="r1" name="r1" type="radio" v-model="persona.sexo">Varon
                            </li>
                            <li class="costado"><input value="m" id="r2" name="r1" type="radio" v-model="persona.sexo">Mujer
                            </li>
                        </ul>
                    </div>
                    <div class="col l7">
                        <button :disabled="!formOk" class="btn waves-effect waves-light right" type="submit"
                                name="action" @click.prevent="addPersona">Aceptar
                        </button>
                    </div>
                </div>
            </form>
            <div v-if="mensaje" class="todo_bien_box">
                Persona cargada succesfully
            </div>
        </div>
        <div class="negrita" v-show="vista == 'buscar'">
            <div class="row">
                <h2>Listado de personas</h2>
                <input type="text" placeholder="Buscar por nombre" v-model="filtro">
                <h3 v-if="!personas.length">No hay personas</h3>
                <h4 v-else-if="!personasFiltradas.length">Los datos ingresados no concuerdan con ninguna persona</h4>
                <div v-else v-for="persona in personasFiltradas">
                    <div id="card" class="col s12 m6 l3">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <h4 class="card-title">{{ persona.nombre }} {{ persona.apellido }}</h4>
                                <h6>Edad: {{ persona.edad }}</h6>
                                <h6>Direccion: {{ persona.direccion }}</h6>
                                <h6 v-if=" persona.sexo  == 'v'">Varon</h6>
                                <h6 v-else>Mujer</h6>
                                <h6 v-if="contarDenuncias(persona)">Denuncias: {{ contarDenuncias(persona) }}</h6>
                                <h6 v-else>Sin denuncias</h6>
                            </div>
                            <div class="card-action">
                                <a id="borrar" @click.prevent="eliminarPersona(persona)" href="#">Borrar</a>
                                <a @click.prevent="denunciarPersona(persona)" href="#">Denunciar</a>
                                <a v-if="!personas.favorita" @click.prevent="personaFavorita(persona)"
                                   class="btn-floating halfway-fab waves-effect waves-light green">
                                    <i class="material-icons">favorite_border</i>
                                </a>
                                <a v-if="persona.favorita" @click.prevent="personaFavorita(persona)"
                                   class="btn-floating halfway-fab waves-effect waves-light green">
                                    <i class="material-icons">favorite</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-show="vista == 'denuncias'">
            <div v-if="denunciando">
                <form autocomplete="off" class="normal">
                    <h2>Realizar denuncia</h2>
                    <h5>Usuario a denunciar: {{ persona.nombre }} {{ persona.apellido }}</h5>
                    <div class="row">
                        <div class="col l5">
                            <ul>
                                <h5>El usuario...</h5>
                                <li><input value="1" id="r3" name="r2" type="radio" v-model="denuncia.motivo"> trata
                                    temas inadecuados
                                </li>
                                <li><input value="2" id="r4" name="r2" type="radio" v-model="denuncia.motivo"> realiza
                                    denuncias absurdas
                                </li>
                                <li><input value="3" id="r5" name="r2" type="radio" v-model="denuncia.motivo"> no me
                                    quiere
                                </li>
                                <li><input value="4" id="r6" name="r2" type="radio" v-model="denuncia.motivo"> publica
                                    contenido ofensivo
                                </li>
                                <li><input value="5" id="r7" name="r2" type="radio" v-model="denuncia.motivo">es
                                    violentamente violento al expresarse
                                </li>
                                <li><input value="6" id="r8" name="r2" type="radio" v-model="denuncia.motivo"> otros
                                </li>
                            </ul>
                        </div>
                        <div class="col l7">
                            <h6>Detalles de la denuncia (opcional)</h6>
                            <textarea name="paragraph_text" cols="50" rows="10"
                                      v-model="denuncia.descripcion"></textarea>
                            <button :disabled="!formOk2" class="btn waves-effect waves-light right" type="submit"
                                    name="action" @click.prevent="denunciarPersonaII(denuncia)">Aceptar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div v-else>
                <div class="row">
                    <h3 v-if="!denuncias.length">No hay denuncias</h3>
                    <div v-else>
                        <h2>Listado de denuncias</h2>
                        <table class="highlight">
                            <thead>
                            <tr>
                                <th>Denunciado</th>
                                <th>Motivo</th>
                                <th>Descripcion</th>
                            </tr>
                            </thead>
                            <tr v-for="denuncia in denuncias">
                                <td> {{ getNombre(denuncia.id_persona) }}</td>
                                <td v-if="denuncia.motivo == 1"> Trata temas inadecuados</td>
                                <td v-else-if="denuncia.motivo == 2"> Realiza denuncias absurdas</td>
                                <td v-else-if="denuncia.motivo == 3"> No me quiere</td>
                                <td v-else-if="denuncia.motivo == 4"> Publica contenido ofensivo</td>
                                <td v-else-if="denuncia.motivo == 5"> Es violentamente agresivo al expresarse</td>
                                <td v-else> Otros</td>
                                <td> {{ denuncia.descripcion }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div v-show="vista == 'favoritos'">
            <div class="row">
                <h2>Personas Favoritas</h2>
                <h3 v-if="!personas.length">No hay personas</h3>
                <div v-else v-for="persona in personasFavoritas">
                    <div class="col s12 m6 l3">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <h4 class="card-title">{{ persona.nombre }} {{ persona.apellido }}</h4>
                                <h6>Edad: {{ persona.edad }}</h6>
                                <h6>Direccion: {{ persona.direccion }}</h6>
                                <h6 v-if=" persona.sexo  == 'v'">Varon</h6>
                                <h6 v-else>Mujer</h6>
                                <h6 v-if="contarDenuncias(persona)">Denuncias: {{ contarDenuncias(persona) }}</h6>
                                <h6 v-else>Sin denuncias</h6>
                            </div>
                            <div class="card-action">
                                <a @click.prevent="personaFavorita(persona)">Quitar favorito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./js/vue.js"></script>
<script src="./js/app.js"></script>
<script src="./js/svgcheckbx.js"></script>
<script>
    function edad_humana(input) { //para evitar el ingreso de edades ridiculas
        if (input.value < 0) input.value = 0;
        if (input.value > 150) input.value = 150;
    }
</script>
</body>
</html>
