<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">

	<title>INDEX</title>
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="css/myappstyles.css">
</head>

<body>

<div id="app">

  <nav>
     <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Contacts</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#"@click="cambiarVista('ingresar')">New Contact</a></li>
        <li><a href="#"@click="cambiarVista('buscar')">Search</a></li>
        <li><a href="#"@click="cambiarVista('about')">About</a></li>
      </ul>
     </div>
  </nav>

 <div v-show="vista == 'ingresar'">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
         <input v-model="persona.nombre" type="text" placeholder="Name">
        </div>
        <div class="input-field col s6">
         <input v-model="persona.apellido" type="text" placeholder="Surname">
        </div>
      </div>
      <div class="row">
       <div class="input-field col s12">
        <input type="number" v-model="persona.edad" placeholder="Age">
       </div>
      </div>
      <div class="row">
       <div class="input-field col s12">
        <input type="number" v-model="persona.telefono" placeholder="Phone number">
       </div>
      </div>
      
     <div class="row">
          <form action="#">
            <input name="sexo" value="Male" type="radio" id="checkSexo1" v-model="persona.sexo"/>
            <label for="checkSexo1">Male</label>

            <input name="sexo" value="Female" type="radio" id="checkSexo2" v-model="persona.sexo"/>
            <label for="checkSexo2">Female</label>
          </form>
      <button :disabled="!formOk" type="submit" @click.prevent="agregarPersona">Add Contact</button>
     </div>
   </form>
  </div>
</div>

    <div v-show="vista == 'buscar'">
      <input type="text" placeholder="Filter by name" v-model="filtro">
      <h3 v-if="!personas.length">Looks so empty</h3>
      <div v-else v-for="(persona,index) in personasFiltradas">
        <h4 class="card-title">{{ persona.nombre }} ({{ persona.surname }}) ({{ persona.edad }}) ({{ persona.telefono }}) </h4>
        <a href="#" @click="eliminarPersonaLocalStorage(index);">Borrar</a>
      </div>
    </div>

    <div v-show="vista == 'about'">
      
    </div>

  </div>
        
<script src="js/vue.js"></script>
<script src="js/app.js"></script>

</body>
</html>