<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">

	<title>INDEX</title>
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>

<body>

<div id="app">

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Contacts</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#"@click="cambiarVista('ingresar')">New Contact</a></li>
        <li><a href="#"@click="cambiarVIsta('buscar')">Search</a></li>
        <li><a href="#"@click="cambiarVIsta('about')">About</a></li>
      </ul>
    </div>
  </nav>

 <div v-show="vista == 'ingresar'">
  <div class="row">
      <form>
        <label>Name</label>
        <input v-model="persona.nombre" type="text" placeholder="Ingrese nombre">
        <label>Surname</label>
        <input v-model="persona.apellido" type="text" placeholder="Ingrese nombre">
        <label>Age</label>
        <input type="number" placeholder="Ingrese edad" v-model="persona.edad">
        <label>Phone number</label>
        <input type="number" placeholder="Ingrese telefono" v-model="persona.telefono">
          <form action="#">
        <p>
        <input name="group1" value="Male" type="radio" id="checkSexo1" v-model="persona.sexo"/>
        <label for="test1">Male</label>
        </p>
        <p>
        <input name="group1" value="Female" type="radio" id="checkSexo2" v-model="persona.sexo"/>
        <label for="test2">Female</label>
        </p>
        </form>
        <button :disabled="!formOk" type="submit" @click.prevent="agregarPersona">Ingresar</button>
      </form>
      </div>
    </div>

    <div v-show="vista == 'buscar'">
      <input type="text" placeholder="Filtrar" v-model="filtro">
      <h3 v-if="!personas.length">No hay personas</h3>
      <div v-else v-for="persona in personasFiltradas">
        <h4 class="card-title">{{ persona.nombre }} ({{ persona.edad }})</h4>
        <p class="card-text">Parrafo con contenido sin sentido para sumar.</p>
        <a href="#">Borrar</a>
      </div>
    </div>

    <div v-show="vista == 'about'">
      
    </div>

  </div>
        
<script src="js/vue.js"></script>
<script src="js/app.js"></script>

</body>
</html>