<!DOCTYPE html>
<html>
<head>
    <title>reynoso</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style\css\bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style/css/mycss.css">
</head>
<body>
<div id="app">
    <header name="barra" class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="#" @click="changeView('start')"><span class="glyphicon glyphicon-home"></span> Inicio </a></li>
                <li><a href="#" @click="changeView('add')"><span class="glyphicon glyphicon-user"></span> Agregar </a></li>
                <li><a href="#" @click="changeView('seeall')"><span class="glyphicon glyphicon-list"></span> Ver todos</a></li>
                <li><a href="#" @click="changeView('filter')"><span class="glyphicon glyphicon-search"></span> Filtrar</a></li>
            </ul>
        </div>
    </header>
    <div class="container">
        <div name="inicio" v-show="view == 'start'">
            <div class="row">
                <div class="jumbotron">
                    <h2>Bienvenido a su Agenda Online!</h2>
                    <p>Lea nuestra breve guia y comience a usar su agenda ya mismo.</p>
                </div>
            </div>
            <div class="row">
                <div class="media">
                    <div class="media-body">
                        <h3 class="media-heading">Agregar Personas</h3>
                        <p>Usted puede agregar la cantidad de personas que desee a su agenda.
                            Para hacer esto, debe ir a la pestaña <strong><span class="glyphicon glyphicon-user"></span>
                                Agregar</strong> e ingrese los datos de su contacto como Nombre, Apellido, Edad, Telefono y Sexo.
                            Presione Guardar y listo!.</p>
                    </div>
                    <div class="media-right">
                        <img class="media-object" src="style/img/addperson.jpg" alt="addperson" >
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="style/img/seeall.jpg" alt="seeall">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Vea sus Contactos</h3>
                        <p>Usted puede visualizar todos los contactos de su agenda ordenados alfabeticamente.
                            Para hacer esto, debe ir a la pestaña <strong><span class="glyphicon glyphicon-list"></span>
                                Ver todos</strong> y elija como quiere ordenarlos. Puede visualizarlos de dos
                            formas distintas: ordenados alfabeticamente por Nombre o por Apellido. Seleccione
                        la opcion que desee y voilá, sus contactos estaran ordenados como usted quiera.</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="media">
                    <div class="media-body">
                        <h3 class="media-heading">Filtre su busqueda</h3>
                        <p>Usted puede buscar a un contacto solo ingresando su nombre o parte de el.
                            Para hacer esto, debe ir a la pestaña <strong><span class="glyphicon glyphicon-search"></span>
                                Filtrar</strong> e ingrese el nombre. Mientras usted escribe, nuestros complejos
                            algoritmos realizan una busqueda en tiempo real de sus contactos con el mismo nombre o
                        que contengan parte de ese nombre, para facilitar su busqueda y hacerla mucho mas rápida y
                        eficiente.</p>
                    </div>
                    <div class="media-right">
                        <img class="media-object" src="style/img/filter.jpg" alt="seeall">
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="style/img/delete.jpg" alt="delete">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Eliminar un Contacto</h3>
                        <p>Usted puede eliminar a un contacto con solo un click.
                            Para hacer esto, debe ir a la pestaña <strong><span class="glyphicon glyphicon-search"></span>
                                Filtrar</strong> o <strong><span class="glyphicon glyphicon-list"></span>
                                Ver todos</strong>. Busque el contacto que desea eliminar. Luego haga click sobre
                            <button class="btn btn-info"><span class="glyphicon glyphicon-remove"></span>
                            </button> el cual aparecerá a un lado de la informacion de su contacto y listo,
                            ese contacto ahora ya no existe mas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div name="agregar" v-show="view == 'add'">
            <div class="row">
                <h2>Agregue personas a su agenda</h2>
            </div>
            <div class="row">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="name">Nombre:</label>
                        <div class="col-sm-8">
                            <input v-model="person.name" type="text" class="form-control" placeholder="Ingrese Nombre" id="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="lastname">Apellido:</label>
                        <div class="col-sm-8">
                            <input v-model="person.lastname" type="text" class="form-control" placeholder="Ingrese Apellido" id="lastname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="age">Edad:</label>
                        <div class="col-sm-8">
                            <input v-model="person.age" type="number" class="form-control" placeholder="Ingrese Edad" id="age">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="phone">Phone:</label>
                        <div class="col-sm-8">
                            <input v-model="person.phone" type="number" class="form-control" placeholder="Ingrese Nro de Teléfono" id="phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Hombre:</label>
                        <div class="col-md-2">
                            <input v-model="person.gender" type="radio" value="h" class="form-control" name="gender">
                        </div>
                        <label class="control-label col-sm-2">Mujer:</label>
                        <div class="col-md-2">
                            <input v-model="person.gender" type="radio" value="m" class="form-control" name="gender">
                        </div>
                    </div>
                    <div class="col-md-offset-2">
                        <button class="btn btn-default" :disabled="!formOk" type="submit" @click.prevent="addPerson">Guardar</button>
                    </div>
                </form>
            </div>
            <hr>
            <div class="row" v-if="message">
                <div class="col-sm-offset-3 col-sm-6">
                    <div class="alert alert-success alert-dismissable" >
                        <strong>Persona agregada!</strong>
                        <a class="close" data-dismiss="alert" @click="closeMessage"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div name="verTodos" v-show="view == 'seeall'">
            <div class="row">
                <h2>Ordenar por: </h2>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="nom"><h4>Nombre:</h4></label>
                </div>
                <div class="col-sm-1">
                    <input spellcheck="true" class="form-control" type="radio" value="name" v-model="sortby" name="ordenar" id="nom">
                </div>
                <div class="col-sm-2">
                    <label for="ape"><h4>Apellido:</h4></label>
                </div>
                <div class="col-sm-1">
                    <input type="radio" class="form-control" value="lastname" v-model="sortby" name="ordenar" id="ape">
                </div>
            </div>
            <hr>
                <div class="col-sm-6" v-for="(person, index) in sortPersonsBy">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" :src="person.genderlink">
                                </div>
                                <div class="media-body">
                                    <div class="col-md-9">
                                        <ul>
                                            <li>Nombre: {{person.name}}</li>
                                            <li>Apellido: {{person.lastname}}</li>
                                            <li>Edad: {{person.age}}</li>
                                            <li>Telefono: {{person.phone}}</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-info" @click="deletePerson(index);" ><span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div name="Buscar" v-show="view == 'filter'">
            <div class="row">
                <h2>Filtre su busqueda por nombre </h2>
                <div class="col-sm-4">
                    <input class="form-control" type="text" v-model="filter" placeholder="Busqueda">
                </div>
            </div>
            <hr>
            <div class="col-sm-6" v-for="person in personsFilter">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" :src="person.genderlink">
                            </div>
                            <div class="media-body">
                                <div class="col-md-9">
                                    <ul>
                                        <li>Nombre: {{person.name}}</li>
                                        <li>Apellido: {{person.lastname}}</li>
                                        <li>Edad: {{person.age}}</li>
                                        <li>Telefono: {{person.phone}}</li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-info"  ><span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/vue.js"></script>
<script src="js/app.js"></script>
</body>
</html>