h1{
	color: "green",
}
body{
	background-color: rgba(138,221,45,0.6);
}
.container{
	padding-top: 30px; 
}

.imagen{
	margin: auto;
	width: 40%;
}
.navbar navbar-expand-lg navbar-light bg-light{
	position: fixed;
}
.center{
	text-align: center;
}
