<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Casales | TP03</title>
    <link rel="stylesheet" href="./css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/bulma.css">
    <link rel="stylesheet" href="./css/sticky-footer.css">
</head>
<body>
<div id="app">
    <section class="hero is-dark">
        <div class="hero-head">
            <header class="nav">
                <div class="container">
                    <div class="nav-left">
                        <a class="nav-item" @click="changeView('search')">
                            <span class="icon is-large is-left"><i class="fa fa-address-book"></i></span>
                        </a>
                        <a class="nav-item" @click="changeView('add')">
                            <span class="icon is-small is-left"><i class="fa fa-plus"></i></span>Add new contact
                        </a>
                    </div>
                </div>
            </header>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    Address Book
                </h1>
            </div>
        </div>
    </section>

    <section class="section" v-show="view == 'add'">
        <div class="container">
            <div class="columns is-mobile">
                <div class="column is-half is-offset-one-quarter">
                    <form class="box">
                        <div class="field">
                            <label class="label">First name</label>
                            <div class="control">
                                <input class="input" placeholder="Insert first name" v-model="contact.firstName">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Last name</label>
                            <div class="control">
                                <input class="input" placeholder="Insert last name" v-model="contact.lastName">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Age</label>
                            <div class="control">
                                <input class="input" type="number" placeholder="Insert age" v-model="contact.dob">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Description</label>
                            <div class="control">
                                <textarea class="textarea" placeholder="Add a description ..."
                                          v-model="contact.description"></textarea>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <label class="radio">
                                    <input value="m" id="radio1" name="radio" type="radio" v-model="contact.gender">
                                    Male
                                </label>
                                <label class="radio">
                                    <input value="f" id="radio2" name="radio" type="radio" v-model="contact.gender">
                                    Female
                                </label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <button class="button is-medium is-dark is-outlined" :disabled="!formOk"
                                        @click.prevent="addContact">Add
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="section" v-show="view == 'search'">
        <div class="container">
            <div class="columns is-desktop">
                <div class="column is-8 is-offset-2">
                    <div class="box">
                        <div class="field">
                            <div class="control has-icons-left">
                                <input class="input" placeholder="Search...">
                                <span class="icon is-small is-left"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="notification is-info" v-if="!contacts.length">
                        There's no contacts on the list
                    </div>
                </div>
            </div>
            <div v-if="contacts.length">
                <div class="columns is-desktop is-multiline is-centered">
                    <div class="column is-4" v-for="contact in filteredContacts">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    {{ firstToUpper(contact.firstName) }} {{ firstToUpper(contact.lastName) }}
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    {{ contact.description }}<!-- <a>@bulmaio</a>.
                                <a href="#">#css</a> <a href="#">#responsive</a>
                                <br>
                                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>-->
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">Edit</a>
                                <a href="#" class="card-footer-item">Delete</a>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="columns">
                <div class="column">
                    <nav class="pagination" aria-label="pagination" v-if="contacts.length">
                        <a class="pagination-previous">Previous</a>
                        <a class="pagination-next">Next page</a>
                        <ul class="pagination-list">
                            <li>
                                <a class="pagination-link" aria-label="Goto page 1">1</a>
                            </li>
                            <li>
                                <span class="pagination-ellipsis">&hellip;</span>
                            </li>
                            <li>
                                <a class="pagination-link" aria-label="Goto page 45">45</a>
                            </li>
                            <li>
                                <a class="pagination-link is-current" aria-label="Page 46">46</a>
                            </li>
                            <li>
                                <a class="pagination-link" aria-label="Goto page 47">47</a>
                            </li>
                            <li>
                                <span class="pagination-ellipsis">&hellip;</span>
                            </li>
                            <li>
                                <a class="pagination-link" aria-label="Goto page 86">86</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>-->
        </div>
    </section>
</div>

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                Made by Ignacio Casales | UTN | 2017
            </p>
            <p>
                <a class="icon is-medium is-left is-white" href="https://github.com/ignaciocasales/2017">
                    <i class="fa fa-github"></i>
                </a>
            </p>
        </div>
    </div>
</footer>
<script src="js/vue.js"></script>
<script src="js/app.js"></script>
</body>
</html>