#tituloVistaAgregar{
    color: #b71c1c ; 
    font-family: 'Trocchi', serif; 
    font-size: 50px; 
    font-weight: normal; 
    line-height: 58px;
    padding-left: 300px; 
}

#tituloVistaEditar{
    color: #b71c1c; 
    font-family: 'Raleway',sans-serif; 
    font-size: 50px; 
    font-weight: 800; 
    line-height: 72px; 
    margin: 24px; 
    text-align: center;
}

#navbarlogo{
    font-size: 25px;
}

.navbarContent{
    font-size: 25px;
}

.myCard{
    padding: 20px;
    border: 5px #00897b;
}

.botonConLetrasRojitas{
    color: #b71c1c;
}
.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #00897b;
    color: #b71c1c;
    font-weight: bold;
    border-radius: 5px;
}

.favoriting{
    display: inline-block
}
.favorite__heart {
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    line-height: 1;
    font-size: 16px;
    color: #ABABAB;
    cursor: pointer;
    -webkit-transition: color .2s ease-out;
    transition: color .2s ease-out;
}
.favorite__heart.is-disabled:hover {
     cursor: default;
 }
.favorite__checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
.favorite__heart__selected{
    color: #df470b;
}